*{
     margin: 0px;
     padding: 0px;
      box-sizing: border-box;
}

#container{
 /* width: 100px; */
 height: 100vh;
background-color: #f6f6f6;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
h1{
      font-size: 30px;
       position: relative;
     margin-bottom: 40px;
}
h1::after{
     content: " ";
     width: 150px;
     height: 3px;
     background: linear-gradient(to right , #f44336, #9f4db5);
     position: absolute;
     bottom: -10px;
left: 50%;
transform: translateX(-50%);
}
.review-box{
      width: 90%;
      max-width: 700px;
      height: 300px;
       border-radius: 10px;
        box-shadow: -12px 10px 40px rgba(0, 0 ,0,0.30);
 position: relative;
overflow:hidden;

}
#card{
      height: 300px;
      padding: 40px;
      line-height: 22px;
      box-sizing: border-box;
       background: #fff;
        position:relative;
     z-index: 1;
     }
     .profile{
          display: flex;
          align-items: center;
           margin-bottom: 40px;
     }
     .profile img{
          width: 70px;
          border-radius: 50px;
          margin-right: 20px;
     }
     .profile h4{
           color: #f44336;
           font-size: 26px;
     }
     #slide{
          width: 100%;
          padding-right:60px;
          box-sizing: border-box;
          position: absolute;
          top: 0;
          left: 0;
           transition-duration: 0.5s;
     }
     .sidebar{
          width: 60px;
          height: 100%;
          padding: 15px 0;
          box-sizing: border-box;
          background: #f44336;
          position: absolute;
          right: 0px;
          top: 0px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
     }
     .sidebar img{
          width: 30px;
          padding: 5px;
          background: #fff;
          border-radius: 50%;
          cursor: pointer;
     }
#card::before{
 content: "";
 width: 110px;
 height: 110px;
 border-bottom-right-radius: 100%;
 background: #f44336;
 position: absolute;
 top: 0px;
 left: 0px;
 z-index: -1;
}

::selection{
     background: #f44336;
     color: #fff;
}